body {
    background-color: #5e6166;
    flex-basis: 1200px;
}

img {
    width: 100%;
}


.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    background-color: #3a3b3d;
    color: white;
    padding: 1rem;
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
}

#img {
    flex-basis: 600px;
}





@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}
