body {
    margin: 0;
    padding: 0;
    background-color: black;

}


@font-face {
    font-family: 'leixodemo';
    src: url('leixo-demo-webfont.woff2') format('woff2'),
         url('leixo-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'leixodemo'; 'sans-serif';
    color: white;
    font-size: 3rem;
}

img {
    width: 100%;
}


.hidden {
    /*display: none;*/
    /* transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    background-color:
    color: white;
    padding: 1rem;
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
    font-family: 'leixodemo';'helvetica';
    'sans-serif';
    font-size: 1.5rem;

}

#menu :hover {
    background-color: #c53bea;
    color: black;
}

header nav {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px;
}

header nav a {

    width: 100px;
    text-decoration: none;
    padding: 0.1em;
    border-bottom: 2px solid #c53bea;
    color: white;
    text-align: center;
    font-family: 'leixodemo';'helvetica';
    'sans-serif';
    font-size: 20px;

}


#img {}

.background {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Neon2.gif);
    background-size: 100%;
    position: absolute;
}

#enter_container {
    position: absolute;
    top: 40vw;
    left: 43vw;


}

#enter_sprite {
    background-image: url(Artboard%201.svg);
    width: 8.6vw;
    height: 5vw;
    background-size: 100%;
}


.cvuo {
    font-family: 'leixodemo'; 'helvetica'; 'sans-serif';
    color: white;
    font-size: 3rem;
}

.CV1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 14vw;
    margin-right: 14vw;
    margin-top: 3vw;

    font-family: 'helvetica';
    'sans serif';
    color: white;
}

.text1 {
    margin-left: 1vw;
    margin-top: 3vw;

}

.skole {
    margin-top: -3vw;
    margin-bottom: 1vw;
}

.cv_text {
    font-family: 'helvetica';
    'sans serif';
    font-size: 1rem;
    margin-left: 21.5vw;
    margin-right: 21.5vw;
    margin-top: 1.5vw;
    color: white;
}


.tema {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 14vw;
    margin-right: 14vw;
    margin-top: 3vw;
    margin-bottom: 2vw;

    font-family: 'helvetica';
    'sans serif';
    color: white;
}

#buttons .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vw;
    margin-bottom: 0vw;
    padding-left: 20vw;
    padding-right: 20vw;
}

#buttons a {
    width: 100px;
    text-decoration: none;
    padding: 0.7vw;
    border-radius: 50px;
    border: 1px solid #c53bea;
    color: white;
    font-family: 'leixodemo';
    font-size: 1rem;
    text-align: center;
}

#buttons a:hover {
    background-color: #c53bea;
    color: black;
}
@media only screen and (min-width: 600px) {

.background {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Neon_1.gif);
    background-size: 100%;
    position: absolute;
}
    #menuknap {
        display: none;
        color: white;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
        color: white;
    }

    #menu li {
        display: inline-block;
    }
}
