
body {
    margin: 0;
    padding: 0;

}

img {
    width: 100%;
}


.hidden {
    /*display: none;*/
   /* transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    background-color: #3a3b3d;
    color: black;
    padding: 1rem;
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top right;
}

#img {

}

.background {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Neon_1.gif);
    background-size: 100%;
    position: absolute;
}

#enter_container {
    position: absolute;
    top: 40vw;
    left: 43vw;


}

#enter_sprite {
    background-image: url(Artboard%201.svg);
    width: 8.6vw;
    height: 5vw;
    background-size: 100%;
}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}
